aiohttp==3.8.4
cryptography==40.0.2
ecs_logging==2.1.0
fastapi==0.110.0
hvac==2.1.0
influxdb_client==1.41.0
pymongo==4.4.0
python_dateutil==2.8.2
pytz==2023.3
requests==2.31.0
SQLAlchemy==1.4.48
urllib3==1.26.10
requests_oauthlib==1.3.1
pydantic==1.10.12
six==1.16.0
streamlit==1.31.1
ipykernel==6.22.0
streamlit-option-menu==0.3.2
altair==4.2.2
streamlit-aggrid==0.3.4.post3
git+https://JENKINSKEY@github.alm.europe.cloudcenter.corp/sanes-shuttle/shuttlelib.git@master
openshift-client==1.0.19
streamlit-javascript==0.1.5